# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Virtual environments
env/
venv/
ENV/
.venv/

# IDEs
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temporal
tmp/
temp/
.tmp/

# PDM
__pypackages__/
.pdm-python
.pdm.toml
.pdm-build/

# Docker
docker-compose.override.yml

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/
